.cards {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: medium;
    padding: 60px 0 60px 0;
    gap: 30px;
    flex-wrap: wrap;
}
.cards__card {
    width: 100%;
    max-width: 350px;
}
.card__title {
}
.card__text {
}

.cards__card img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;

}